.balloon {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2px 4px;
    align-items: center;
}

.balloon-text {
    color: rgb(10, 20, 80);
    font-size: 5px;
    margin: 0;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

.player-balloon {
    background-color: rgb(220, 240, 255);
}
